<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/astartitlelogo.png" type="image/icon type">


    <title>SIMTech AI Detection Model</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.7.2/dist/socket.io.min.js"></script>


</head>
<body>

    <nav>
        <div class = "nav-logo" >
            <a href="#">
                <img class="astarlogo" src="/static/images/astar.png" >
            </a>
        </div>
        <ul class="nav-links">
            <li class = "link"><a href="#">HOME</a></li>
            <li id = "link1" class = "link"><a href="#">OFFLINE DETECTION</a></li>
            <li id = "link3" class = "link"><a href="#">CHATBOT</a></li>
            <li id = "link4" class = "link"><a href="#">REAL TIME CHART</a></li>
            <li id = "link2" class = "link"><a href="#">CONTACT US</a></li>


        </ul>
        <div class="login">
            <button id="signup">Get Started</button>
        </div>
    </nav>
    

    <header>
        <div class="left">
            <h1><span>OIS</span><br></h1>
            <span class="second-line">AI Detection Model</span>
            <p>
                The OIS AI Detection Model enhances manufacturing by using the powerful YOLOv11 algorithm on 
                a Raspberry Pi for real-time, on-device defect detection. It automates quality control,
                reduces human error, and minimizes downtime. With a user-friendly web interface, 
                the model enables offline swift defect identification, seamless integration into
                production, and improving both efficiency and product quality.
            </p>
        </div>

    </header>

    <section class="container">

        <div class="buffer"></div>
        
        <p class="sub-header">OFFLINE DETECTION</p>
 
        <div class="offline">

            <div class="card">
                <div class="content">
                    <h3>Input</h3>
                    <form id="upload-form" action="/object-detection/" method="post" enctype="multipart/form-data">
                        <label class ="title-card" for="image">Select Image</label><br/><br/>
                        <input type="file" id="image" name="image" accept="image/*" onchange="displayImage(event)"><br><br>
                        <input class="btn1" type="button" value="Upload Image" onclick="uploadImage()">
                        <img id="input-image" src="" ><br><br>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <h3>Apply Detection</h3>
                    <label class ="title-card" for="image">Output Image</label><br/><br/>
                    
                    <input class="btn2"  type="submit" value="Apply Detection" onclick="applyDetection()">

                    <div class="loader-container">
                        <div id="loader" style="display: none;"></div>
                    </div>
                    

                    <img id="output-image" src="" ><br/>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <h3>Statistical Analysis</h3>

                    <label class ="title-card" for="image">Defects Frequency</label><br/><br/>

                    <form onsubmit="freqchart(); return false;">
                        <input class="btn3"  type="submit" value="Generate Frequency Graph">
                    </form>

                    <canvas id="defectChart" ></canvas>

                </div>
            </div>

        </div>
    </section>


    <section class="container-card-full">
        <div class="card-full">
            <div class="content">
                <h3>Statistical Analysis</h3>
                <label class ="title-card" for="image">Defects Size and Distribution</label><br/><br/>
                
                <div class="btn-fulls">
                    <form onsubmit="areachart(); return false;">
                        <input class="btn3"  type="submit" value="Generate Size Distribution Graph">
                    </form> 
                </div>
        
                <div class="charts-container">
                    <div class="chart-wrapper">
                        <canvas id="areaChartNicks"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartDents"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartScratches"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartPittings"></canvas>
                    </div>
                </div>


            </div>
        </div>    
     </section>


     
    <section class="container-card-full-confidence">
        <div class="card-full-confidence">
            <div class="content">
                <h3>Statistical Analysis</h3>
                <label class ="title-card" for="image">Defects Confidence Distribution</label><br/><br/>
                
                <div class="btn-fulls">
                    <form onsubmit="areachartconfidence(); return false;">
                        <input class="btn4"  type="submit" value="Generate Confidence Distribution Graph">
                    </form> 
                </div>
        
                <div class="charts-container">
                    <div class="chart-wrapper">
                        <canvas id="areaChartConfidenceNicks"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartConfidenceDents"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartConfidenceScratches"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChartConfidencePittings"></canvas>
                    </div>
                </div>


            </div>
        </div>    
     </section>



    <!-- Chat Bot -->
    <section class="chatbot-container">

        <p class="chatbot-sub-header">OIS CHAT BOT</p>

        <div class="chatbot-text">
            <p>
                The OIS Chat Bot is designed to assist you by providing clear answers to your questions, starting with an overview of the background of A Star and  OIS. This bot aims to offer insights and explanations that help you understand key aspects of the system, including its purpose, functionality, and how it fits into your workflow.
                
                If you ever feel uncertain or have specific questions, feel free to ask! The OIS Chat Bot is available to provide support and help you gain confidence in using the STAR OIS system to its fullest potential.
            </p>
        </div>
        
        <a href="chatbot.html">
            <button class="btn5">Try it now!</button>
        </a>
        
     </section>




    <section class="realtime-container">
        <p class="realtime-sub-header">Real Time Detection Chart</p>

        <div class="center-wrapper">
        
            <div class="form-container">
            
                <h2>Connect to Raspberry Pi</h2>
                <form id="ipForm">
                    <label for="ipAddress">Enter Raspberry Pi IP Address:</label>
                    <input type="text" id="ipAddress" placeholder="e.g., 10.5.105.166" required>
                    
                    <label for="port">Enter Port:</label>
                    <input type="text" id="port" placeholder="e.g., 5000" required>
                    
                    <button type="submit">Connect</button>
                </form>

            </div>

        </div>



        <div class="realtime-text">
            <p>
                The Real Time Chart below provides the frequency of the defect that occurs for each type which allows to record the number of defect that occur over time WITH the recorded timestamp.

            </p>
        </div>

        <div class="realtime-chart-container">

            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2738238/charts/1?bgcolor=%23ffffff&color=%23FF3838&dynamic=true&results=60&type=line"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2738238/charts/2?bgcolor=%23ffffff&color=%23FF9D97&dynamic=true&results=60&type=line"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2738238/charts/3?bgcolor=%23ffffff&color=%23FF701F&dynamic=true&results=60&type=line"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2738238/charts/4?bgcolor=%23ffffff&color=%23FFB21D&dynamic=true&results=60&type=line"></iframe>

        </div>


        <div class="realtime-text2">
            <p>
                The Real Time Chart below provides the frequency of the defect that occurs for each type which allows to record the number of defect that occur over time WITHOUT the recorded timestamp. For now need to be on the SAME wifi.
            </p>
        </div>

        <div class="chart-wrapper-realtime">
            <canvas id="realtimedefectChart" style="display: none;"></canvas>
        </div>


     </section>




    
   <footer>
        <h3>Agency for Science, Technology and Research (A*STAR)</h3>
        <div class="right">
            <div class="links">
                <a href="#">Privacy Policy</a>
                <a href="#">Cooperation</a>
                <a href="#">Sponsorship</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="social">
                <a href="https://www.instagram.com/astarsg/"><i class='bx bxl-instagram' style='color:#fffdfd'></i></a>
                <a href="https://www.facebook.com/ASTARSG/"><i class='bx bxl-facebook-square' style='color:#fffdfd'></i></a>
                <a href="https://www.linkedin.com/company/astarsg/"><i class='bx bxl-linkedin' style='color:#fffdfd' ></i></a>
                <a href="https://www.youtube.com/channel/UCcyl37Tw2p4eGnvpuPRFbzQ"><i class='bx bxl-youtube' style='color:#fffdfd'></i></a>
            </div>
            <p>©2024, Agency for Science, Technology and Research (A*STAR).</p>
        </div>
    </footer>

    <script src="/static/scripts.js" type="module"></script>  


</body>
</html>

























